h1{
	padding-top: 20px;
	text-align: center;
}

.button-div{
	text-align: center;
}
.button-div div{
	display: inline-block;
}
/*Filling Squares*/
.square-0-0{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(133%, 31%);		
	z-index: -100;
}

.square-0-1{	
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(232%, 31%);		
	z-index: -100;
}

.square-0-2{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(331%, 31%);		
	z-index: -100;
}

.square-1-0{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(133%, 130%);		
	z-index: -100;
}

.square-1-1{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(232%, 130%);		
	z-index: -100;
}

.square-1-2{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(331%, 130%);		
	z-index: -100;
}

.square-2-0{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(133%, 229%);		
	z-index: -100;
}

.square-2-1{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(232%, 229%);		
	z-index: -100;
}

.square-2-2{
	position: fixed;	
	width: 191px;
	height: 180px;
	transform: translate(331%, 229%);		
	z-index: -100;
}

/*Player 1 circles*/
.player1-0-0{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(295%, 95%);	
	z-index: 1;
}

.player1-0-1{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(490%, 95%);	
	z-index: 1;
}

.player1-0-2{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(685%, 95%);		
	z-index: 1;
}

.player1-1-0{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(295%, 275%);	
	z-index: 1;
}

.player1-1-1{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(490%, 275%);	
	z-index: 1;
}

.player1-1-2{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(685%, 275%);	
	z-index: 1;
}

.player1-2-0{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(295%, 450%);	
	z-index: 1;
}

.player1-2-1{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(490%, 450%);	
	z-index: 1;
}

.player1-2-2{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(685%, 450%);	
	z-index: 1;
}

/*Player 2 crosses*/
.player2-0-0{	
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(295%, 95%);	
	z-index: 1;
}

.player2-0-1{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(490%, 95%);	
	z-index: 1;
}

.player2-0-2{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(685%, 95%);		
	z-index: 1;
}

.player2-1-0{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(295%, 275%);	
	z-index: 1;
}

.player2-1-1{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(490%, 275%);	
	z-index: 1;
}

.player2-1-2{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(685%, 275%);	
	z-index: 1;
}

.player2-2-0{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(295%, 450%);	
	z-index: 1;
}

.player2-2-1{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(490%, 450%);	
	z-index: 1;
}

.player2-2-2{
	position: fixed;
	width: 100px;
	height: 100px;
	transform: translate(685%, 450%);	
	z-index: 1;
}



